body{
    background: #3b9dc4;
background: linear-gradient(90deg, rgba(59, 157, 196, 1) 0%, rgba(87, 199, 171, 1) 50%, rgba(104, 117, 227, 1) 100%);
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
letter-spacing: 2px;
}
nav{
    display: flex;
    justify-content: space-between;
}

.pc-nav{
    display: none;
}


.phone-nav > ul{
    display: none;

}
.phone-nav{
    display: flex;
    align-items: center;
}
.phone-nav > .fa-lg{
    font-size: 2em;
    line-height: 1em;
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.icon{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.icon > img{
    width: 10rem;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info  .wind-speed , .humidity{
display: flex;
gap: 1rem;
}

.info2{
    display: flex;
    gap: 1rem;
}

.search{
    width: 50%;
    height: 2em;
    outline: none;
    border-radius: 20rem;
    border: rgb(118, 166, 193) 1px solid;
    padding: 0.2em;
}

