body{
    background: #3b9dc4;
background: linear-gradient(90deg, rgba(59, 157, 196, 1) 0%, 50%, rgba(104, 117, 227, 1) 100%);
color: white;
  font-family: 'Orbitron', sans-serif;
 letter-spacing: 2px;
 
}
nav{
    display: flex;
    justify-content: space-between;
}

.pc-nav{
    display: none;
}


.phone-nav > ul{
    display: none;

}
.phone-nav{
    display: flex;
    align-items: center;
}
.phone-nav > .fa-lg{
    font-size: 2em;
    line-height: 1em;
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.icon{
    display: flex;
    justify-content: center;
 
}
.icon > img{
    width: 10rem;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info  .wind-speed , .humidity{
display: flex;
gap: 1rem;
}

.info2{
    display: flex;
    gap: 1rem;
}

.search{
    width: 80%;
    font-size: large;
    height: 2em;
    outline: none;
    border-radius: 20rem;
    border: rgb(118, 166, 193) 1px solid;
    padding: 0.2em 0.5em;
    color: #2b49f0;
    font-weight: 500;
}

.dark{
    width: 2.5em;
    
}
#btn-dark , #btn-dark-pc{
    background-color: transparent;
    border: none;
}
#btn-dark :hover{
    background-color:#96d5ee;
    border-radius: 20em;
    border: none;
    cursor: pointer;
}

footer{
 display: flex;
 align-items: end;
 justify-content: center;
 position: fixed;
    height: 3em;
  
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.container2{
    display: grid;
   
    justify-content: space-around;
    align-items: center;
  
}
#ws{
    width: 25em;
}

.info{
    font-size: larger;
}
.search{
    width: 50%;
    font-size: 1.2em;
}
.dark{
    width: 2.5em;
    
}

}

@media only screen and (min-width: 1024px) {
.phone-nav{
    display:none;
}
.pc-nav{
    display: flex;
 

}

.pc-nav > ul{
    display: flex;
 list-style: none;
 gap: 1em;
}

.pc-nav > ul  :hover{
background-color:#3b9dc451;
border-radius: 2em;
cursor: pointer;
}
.icon-nav{
    display: flex;
}
.container2{
    display: flex;
    justify-content: space-around;
    align-items: center;
  padding-top: 2em;
}

#ws{
    width: 25em;
}

.info{
    font-size: larger;
}
.search{
    
    width: 40%;
    font-size: 1.2em;
}
}